[submodule "frontend"]
	path = frontend
	url = https://github.com/TlStephen2011/sentence-builder-frontend.git
[submodule "server"]
	path = server
	url = https://github.com/TlStephen2011/sentence-builder-server.git
